/* Website Styles! */
*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* adding a banner */
.banner {
  height: 350px;
  background-image: url(images/catdog.jpg);
  background-size: cover;
  background-position: center;
}

/* learning some class selector stuff */
.title {
  font-size: 48px;
  text-decoration: underline;
  color: blue;
}

/* learning some div class container stuff */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  height: 300px;
}

header {
    border-bottom: 5px solid red;
}

body {
    background-image: url(images/dbl-bbl.png);
    background-repeat: repeat;
    background-color: PapayaWhip;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

header,
section,
footer {
  padding: 30px;
}

section {
  border: 1px solid gainsboro;
  background-color: white;
  margin: 30px;
  padding: 30px;
}

h1, h2, h3 {
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 20px;
}

h1 {
  text-align: left;
  color: red;
  font-size: 36px;
}

header h1 {
  text-align: center;
}

h2 {
  color: darkorange;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

#P-class {
  color: darkgrey;
}

p {
  font-family: 'Piazzolla', serif;
  color: limegreen;
  line-height: 2;
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}

footer {
  color: blue;
}
