/* Website Styles! */
*{
  font-size: 100%;
}

body {
    background-color: PapayaWhip;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
  font-weight: bold;
  font-style: oblique;
}

h1 {
  color: red;
  font-size: 36px;
}

h2 {
  color: darkorange;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-family: 'Piazzolla', serif;
}

p {
  color: limegreen;
}

p {
  line-height: 2;
}
footer {
  color: red;
}
