body {
    background-color: PapayaWhip;
    color: palegreen;
    font-family: 'Secular One', sans-serif;
}

h1 {
  color: red;
}

h2 {
  color: darkorange;
}

p {
  color: limegreen;
}

footer {
  color: red;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}
